<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <title>Page Not Found</title>
</head>
<body style="background-color: #C2CEEE;">
<div class="container" style="margin-left: 35%; margin-top: 5%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 ">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <center>Systems Control</center>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            <center>
                            <h3>Page Not Found </h3>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- url for -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



</body>
</html>
