<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/body.css" rel="stylesheet">

    {%block extralink%}
    {%endblock extralink%}
    <title>{%block title%}{%endblock title%}</title>

</head>
<body>
<footer class="container-fluid text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-4">
                <center>
                    <ul class="nav navbar-nav">
                        <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="/monitoring"><span class="glyphicon glyphicon-th-list"></span></a></li>
                        <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-random"></span></a></li>
                    </ul>
                </center>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</footer>

<div class="wraper">
    <div class="left-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">{%block leftmenuhead%}{%endblock leftmenuhead%}</div>
            <div class="panel-body">{%block leftmenu%}{%endblock leftmenu%}</div>
        </div>
    </div>

    <div class="center-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">{%block centermenuhead%}{%endblock centermenuhead%}</div>
            <div class="panel-body">{%block centermenu%}{%endblock centermenu%}</div>
        </div>
    </div>

    <div class="right-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {%block rightmenuhead%}
                <center>
                    <div id="clock">
                        <script src="static/js/time.js"></script>
                    </div>
                </center>

                {%endblock rightmenuhead%}
            </div>
            <div class="panel-body">
                <center>
                    <div class="alert alert-info">
                        {%if user%}
                        {{user}}
                        {%endif%}
                    </div>
                </center>
                {%block rightmenu%}
                {%endblock rightmenu%}
            </div>
        </div>
    </div>

</div>
<footer class="container-fluid text-center"></footer>

<script src="static/js/bootstrap.js"></script>
</body>
</html>
