
{%extends 'base.html'%}
{%block extralink%}
{%endblock extralink%}
{%block title%}Home{%endblock title%}

{%block leftmenuhead%}<center><h4>Home</h4></center>{%endblock leftmenuhead%}
{%block leftmenu%}
<div class="btn btn-danger btn-block">Button1</div>
<div class="btn btn-danger btn-block">Button2</div>

{%endblock leftmenu%}

{%block centermenuhead%}
<center><h4>Система мониторинга оборудования</h4></center>
{%endblock centermenuhead%}

{%block centermenu%}
<div class="col-xs-12">
    <div class="alert alert-info">Tratata</div>
</div>
{%endblock centermenu%}