{% extends 'base.html' %}
{% block extralink %}

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

{% endblock extralink %}
{% block title %}Monitoring{% endblock title %}

{% block leftmenuhead %}
    <center><h4>Monitoring</h4></center>{% endblock leftmenuhead %}
{% block leftmenu %}
    {% include 'left-monitoring-menu.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <center><h4>Monitoring Online</h4></center>
{% endblock centermenuhead %}

{% block centermenu %}
    <div class="container-fluid" style="min-height: 600px;>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <div id="chartContainer" style="height: 100%; width: 100%;"></div>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
{% endblock centermenu %}