body {
  background-color: #C2CEEE;
}
.glyphicon {
    font-size: 30px;
}

.glyphicon.glyphicon-user {
    font-size: 20px;
}

.wraper{

}
.left-menu{
    background-color: #779AEA;
    height: 700px;
    width: 15%;
    float:left;
    border-radius:5px;
}

.center-menu{
    background-color: #C1CEEA;
    height: 100%;
    width: 70%;
    float:left;
    border-radius:5px;
}
.right-menu{
  background-color: #779AEA;
    height: 700px;
    width: 15%;
    float:left;
    border-radius:5px;
}
#clock{

	color: black;
	font-weight: bold;
	font-size: 25px;
}

#errors{

    border-color:red;
    border-style: solid;
    height: 100%;
    border-radius: 5px;

}
.tableusers{
    height: 100px;
    width: 100px;

}

