body {
  background-color: #eee;
}
.glyphicon {
    font-size: 30px;
}

.glyphicon.glyphicon-user {
    font-size: 20px;
}

.wraper{


}
.left-menu{
    background-color: red;
    height: 700px;
    width: 15%;
    float:left;
    border-radius:5px;
}

.center-menu{

    height: 700px;
    width: 70%;
    float:left;
    border-radius:5px;
}
.right-menu{
  background-color: red;
    height: 700px;
    width: 15%;
    float:left;
    border-radius:5px;
}
#clock{

	color: black;
	font-weight: bold;
	font-size: 25px;
}
